.all_card {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

.card_one,
.card_two,
.card_three {
    border: 5px solid black;
    width: 300px;
    height: 500px;
    margin-right: 20px;
    border-radius: 10px;
    position: relative;
}

.card_one {
    background-color: Khaki;
}

.card_two {
    background-color: silver;
}

.card_three {
    background-color: goldenrod;
}

.card_title {
    border: 1px solid black;
    margin: 5px;
    padding: 0;
    height: 10%;
    display: flex;
}

.card_title_name {
    width: 100%;
}

.card_title_name p {
    text-align: center;
    font-size: 30px;
    padding: 0;
    margin: 0;
    margin-top: 5px;
}

.card_image {
    display: flex;
    height: 55%;
    margin: 5px;
    border: 1px solid black;
}

.card_image_name {
    border: 1px solid black;
    height: 95%;
    width: 20%;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card_image_name img {
    margin: 5px;
    border-radius: 50%;
}

.card_image_name p {
    writing-mode: vertical-rl;
    text-orientation:upright;
    margin: auto;
    padding: 10px;
    padding-top: 20px;
    height: 60%;
    font-size: 17px;
    font-weight: bold;
}

.card_image_skill {
    border: 1px solid black;
    height: 95%;
    margin: 5px;
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card_image_skill img {
    height: 95%;
    margin: 5px;
}

.card_descrition {
    margin: 5px;
    border: 1px solid black;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card_descrition p {
    text-align: center;
    font-size: 25px;
    margin: 5px;
    padding: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.card_star_one img,
.card_star_two img,
.card_star_three img {
    width: 70px;
    position: absolute;
    display: flex;
    flex-direction: row;
}

.one {
    top: 305px;
    left: 135px;
}

.two_1 {
    top: 305px;
    left: 120px;
}

.two_2 {
    top: 305px;
    left: 150px;
}

.three_1 {
    top: 305px;
    left: 100px;
}

.three_2 {
    top: 305px;
    left: 130px;
}

.three_3 {
    top: 305px;
    left: 160px;
}