p {
    font-family: 'Lobster', cursive;
    letter-spacing: 1px;
    margin: 0;
}

.all_card {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.card_one,
.card_two,
.card_three {
    border: 5px solid black;
    width: 210px;
    height: 315px;
    margin-right: 20px;
    border-radius: 10px;
    position: relative;
}

.card_one {
    background-color: BurlyWood;
}

.card_two {
    background-color: silver;
}

.card_three {
    background-color: goldenrod;
}

.card_title {
    border: 1px solid black;
    border-radius: 5px 5px 0 0;
    margin: 5px;
    padding: 0;
    height: 26px;
    display: flex;
}

.card_title_name {
    width: 100%;
}

.card_title_name p {
    text-align: center;
    font-size: 20px;
}

.card_image {
    display: flex;
    height: 175px;
    margin: 0 5px;
    border: 1px solid black;
}

.card_image_name {
    border: 1px solid black;
    border-radius: 10px;
    width: 20%;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card_image_name img {
    margin: 5px;
    border-radius: 50%;
}

.card_image_name p {
    writing-mode: vertical-rl;
    text-orientation: upright;
    letter-spacing: -5px;
    margin: auto;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
}

.card_image_skill {
    margin: 0 5px 5px 0;
    height: 100%;
}

.card_image_skill img {
    height: 165px;
    width: 100%;
    margin: 5px 0 0 0;
    border-radius: 10px;
}

.card_descrition {
    margin: 5px;
    border: 1px solid black;
    border-radius: 0 0 5px 5px;
    height: 28%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card_descrition p {
    text-align: center;
    font-size: 14px;
    margin: 5px;
    padding: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.card_descrition_image {
    width: 14px;
    height: 14px;
}

.card_star_one img,
.card_star_two img,
.card_star_three img {
    width: 30px;
    position: absolute;
    display: flex;
    flex-direction: row;
}

.one {
    top: 190px;
    left: 108px;
}

.two_1 {
    top: 190px;
    left: 100px;
}

.two_2 {
    top: 190px;
    left: 120px;
}

.three_1 {
    top: 190px;
    left: 90px;
}

.three_2 {
    top: 190px;
    left:110px;
}

.three_3 {
    top: 190px;
    left: 130px;
}

.super_damage {
    background-color: cyan
}

.super {
    width: 30px;
    height: 30px;
}

.min {
    font-size: 17px !important;
    margin-top: 3px;
}

.text_cen {
    align-items: center;
}

.min_img {
    width: 14px;
    height: 14px;
}